
.composum-tools_widgets {
    overflow: scroll;
}

.composum-tools_widget {
    position: relative;
    margin-bottom: 1rem;
}

.composum-tools_widget > a.composum-tools_widget_tile-link {
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;
    height: 42px;
    z-index: 2;
}

.composum-tools_widget > a.composum-tools_widget_tile-link[href]:after {
    position: absolute;
    top: 0;
    right: 48px;
    height: 42px;
    z-index: 1;
    line-height: 42px;
    content: '\F3DF';
    font-family: bootstrap-icons;
    font-size: 20px;
    color: #888;
}

.composum-tools_widget > a.composum-tools_widget_tile-link[target]:after {
    content: '\F1C5';
}

.composum-tools_widget .composum-tools_widget-time {
    position: absolute;
    display: inline-block;
    top: 0.4rem;
    right: 1.4rem;
    text-align: right;
    line-height: 1;
    font-size: 60%;
    color: #444;
}

.dashboard-page_dashboard {
    padding: 6px 0 0;
}

.dashboard-page_dashboard .view-head {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 240px;
    min-width: 40%;
    height: 40px;
    padding: 0 80px 0 12px;
    z-index: 3;
    line-height: 40px;
    background: #666;
    color: #ddd;
}

.dashboard-page_dashboard .view-head:after {
    position: absolute;
    top: 0;
    right: 12px;
    height: 40px;
    z-index: 4;
    line-height: 40px;
    content: '\F3DE';
    font-family: bootstrap-icons;
    font-size: 20px;
    color: #bbb;
}

.composum-tools_widget-view {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.composum-tools_widget .card-body .nav-tabs {
    border: none;
    padding: 0 10px;
    background: #ccc;
}

.composum-tools_widget .card-body .nav-tabs .nav-item .nav-link {
    border-radius: 0;
    padding: 0.25rem 1rem;
}

.composum-tools_widget-view .nav-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    padding: 0 15px 0 80px;
    background: #777;
}

.composum-tools_widget-view .nav-link {
    margin: 0 2px 0 0;
    border: none;
    border-radius: 0;
    line-height: 22px;
    color: #495057;
    background: #ddd;
}

.composum-tools_widget-view .nav .dashboard-widget__badges {
    display: inline-block;
    margin: -1px 0 0 10px;
}

.composum-tools_widget-view .nav .badge {
    vertical-align: text-top;
}

.composum-tools_widget-view .tab-content {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
