.tools-navbar .browser-tool-favorites .active i::before {
    content: "\F586";
    color: rgba(255, 255, 255, .7);
}

.browser-tool_favorites {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.browser-tool_favorites-groups {
    height: var(--toolbar-height);
    padding: 4px 2px 0 var(--toolbar-gap-lg);
    border-bottom: none;
    background: var(--toolbar-color-bg);
}

.browser-tool_favorites-groups .nav-item .nav-link {
    margin: 0 2px 0 0;
    border: none;
    border-bottom: 1px solid var(--toolbar-color-bg);
    border-radius: 0;
    line-height: 16px;
    color:var(--toolbar-tab-color);
    background: var(--toolbar-tab-color-bg);
}

@media (max-width: 1199px) {
    .browser-tool_favorites-groups .nav-item .nav-link {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 809px) {
    .browser-tool_favorites-groups .nav-item .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.browser-tool_favorites-groups .nav-item .nav-link.active {
    border-bottom: 1px solid transparent;
    background: #fff;
}

.browser-tool_favorites-clear {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 5px;
    width: auto;
    padding: 0 10px;
    line-height: 25px;
    font-size: var(--toolbar-icon-font-size);
    text-align: center;
    color: var(--toolbar-color);
}

@media (max-width: 1199px) {
    .browser-tool_favorites-clear {
        right: 2px;
    }
}

.browser-tool_favorites-list {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: auto;
}

.browser-tool_favorites-list .table {
    margin: 0;
}

.browser-tool_favorites-content tr,
.browser-tool_favorites-content td {
    width: 100%;
    border: none;
}

.browser-tool_favorites-content td {
    border-top: none;
    padding: 0.25rem 0.6rem;
    font-weight: normal;
    white-space: nowrap;
}

.browser-tool_favorites-content td a {
    display: block;
    width: 100%;
    text-decoration: none;
}
